.table1, .table2 {
    border: 2px solid black;
}

.tableh {
    border: 3px solid black;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.wide {
    font-size: 24px;
    letter-spacing: .2em;
    line-height: 2;
}

.table1:hover {
    background-color: green;
}

.tableh:hover {
    background-color: green;
}

#answer {
    font-size: 24px;
}

